/*///////////////////////////////*/
/*/////////BOTTOM-CENTER//////////*/
/*///////////////////////////////*/
@-webkit-keyframes bottomCenter{
    0% {-webkit-transform: perspective(400px) rotateX(0deg); }
    100% {-webkit-transform: perspective(400px) rotateX(-4deg); }
}

@-moz-keyframes bottomCenter {
    0% {-moz-transform: perspective(400px) rotateX(0deg); }
    100% {-moz-transform: perspective(400px) rotateX(-4deg); }
}

@keyframes bottomCenter {
    0% {transform: perspective(400px) rotateX(0deg); }
    100% {transform: perspective(400px) rotateX(-4deg); }
}

/*///////////////////////////////*/
/*/////////TOP-CENTER//////////*/
/*///////////////////////////////*/
@-webkit-keyframes topCenter{
    0% {-webkit-transform: perspective(400px) rotateX(0deg); }
    100% {-webkit-transform: perspective(400px) rotateX(4deg); }
}

@-moz-keyframes topCenter {
    0% {-moz-transform: perspective(400px) rotateX(0deg); }
    100% {-moz-transform: perspective(400px) rotateX(-4deg); }
}

@keyframes topCenter {
    0% {transform: perspective(400px) rotateX(0deg); }
    100% {transform: perspective(400px) rotateX(-4deg); }
}

/*///////////////////////////////*/
/*/////////LEFT-CENTER///////////*/
/*///////////////////////////////*/
@-webkit-keyframes leftCenter{
    0% {-webkit-transform: perspective(400px) rotateY(0deg); }
    100% {-webkit-transform: perspective(400px) rotateY(-4deg); }
}

@-moz-keyframes leftCenter {
    0% {-moz-transform: perspective(400px) rotateY(0deg); }
    100% {-moz-transform: perspective(400px) rotateY(-4deg); }
}

@keyframes leftCenter {
    0% {transform: perspective(400px) rotateY(0deg); }
    100% {transform: perspective(400px) rotateY(-4deg); }
}

/*///////////////////////////////*/
/*/////////RIGTH-CENTER///////////*/
/*///////////////////////////////*/
@-webkit-keyframes rightCenter{
    0% {-webkit-transform: perspective(400px) rotateY(0deg); }
    100% {-webkit-transform: perspective(400px) rotateY(4deg); }
}

@-moz-keyframes rightCenter {
    0% {-moz-transform: perspective(400px) rotateY(0deg); }
    100% {-moz-transform: perspective(400px) rotateY(-4deg); }
}

@keyframes rightCenter {
    0% {transform: perspective(400px) rotateY(0deg); }
    100% {transform: perspective(400px) rotateY(-4deg); }
}

/*///////////////////////////////*/
/*/////////CENTER-CENTER///////////*/
/*///////////////////////////////*/
@-webkit-keyframes center{
    0% {-webkit-transform: scale(1); }
    100% {-webkit-transform: scale(.92) }
}

@-moz-keyframes center {
    0% {-moz-transform: scale(1); }
    100% {-moz-transform: scale(.92) }
}

@keyframes center {
    0% {transform: scale(1); }
    100% {transform: scale(.92) }
}