/*
/////////////////////
////////CSS 8////////
/////////////////////
*/

body{margin: 10px}
.box-fx{height: 90%; width: 90%; float: left; margin-right: 5px;

}

.this-fx{height: 100%; width: 100%; border: solid 10px #444; display: block; opacity: .9;

	-webkit-transition: -webkit-transform 500ms;
	-moz-transition: -moz-transform 500ms;
	-ms-transition: -ms-transform  500ms;
	-o-transition: -o-transform 500ms;
	transition: transfrom 500ms;

	text-align: center;
	line-height: 40px;

	font-size: 22px;

	font-family: arial;
}